html {
    min-height: 100%;
    position: relative;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
        
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
}

.pagewrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}


/*left bar*/

.leftchatwrapper {
    position: inherit;
    height: 100%;
    bottom: 0;
    background-color: #4f4f4f;
}

.title {
    text-align: center;
    color: #bbc0cf;
}

.chatconversations {
    cursor: pointer;
}

/*center*/

.mainchatwrapper {
    position: inherit;
    height: 100%;
    bottom: 0;
    background-color: #f7f7f9;
}

.mainchatheader {
    height: 10%;
}

.mainchatbody {
    height: 70%;
}

#messages {
    max-height: 670px;
    overflow-y: scroll;
}

.chatbottom {
    height: 20%;
}

.chatform {
    height: 100%;
}

.chatform textarea {
    height: 100%;
}

.chatmessagereceived {
    float: left;
    background-color: #0098cc;
    width: 60%;
    padding: 5px 8px;
    margin-left: 3px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    word-wrap: break-word;
    font-family: 'Varela Round', sans-serif;
}

.chatmessagesend {
    float: right;
    background-color: lightgrey;
    width: 60%;
    padding: 5px 8px;
    margin-right: 3px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    border-top-right-radius: 0px;
    word-wrap: break-word;
    font-family: 'Varela Round', sans-serif;
}

/*right bar*/

.rightchatwrapper {
    position: inherit;
    height: 100%;
    bottom: 0;
    background-color: #4f4f4f;
}

.managertitle {
    color: #bbc0cf;
}

.companytitle {
    color: #bbc0cf;
}

.closedcons{
    color: #bbc0cf;
    text-align: center;
}